*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px ;
}

html, body
{
  background: black url("img/bg1.jpg") no-repeat center center/cover ;
  height: 1000vh ;
  /* color: white; */
  font-family: sans-serif;
}

header{
  height: 200px;
}
header img{
  width: 200px;
}

.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search
{
  height: 100px;
}

input[type="text"]{
  display: block;
  font-size: 20px;
  border-radius: 5px ;
  width: 60%;
  margin: auto;
  padding:10px;
  border: none;
  outline: none;
}
input[type="text"]:focus{
  box-shadow: 0px 0px 2px .5px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.75);
}